<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escuela de Abogados</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../css/styling.css" rel="stylesheet"/>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <div class="navbar-brand-wrapper">
                <a class="navbar-brand" href="#">
                    <img src="../images/Logo.png" alt="Logo" style="width: 125px; height: 125px;"> <!-- Ajusta el ancho y alto del logo -->
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="../index.html">Inicio </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="./about.html">Quienes Somos<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./inscripcion.html">Inscripción</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./juntaDirectiva.html">Junta Directiva</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./coordinacion.html">Coordinación Académica</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./comisiones.html">Comisiones</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Contenido: Quiénes Somos -->
    <div class="container mt-4">
        <h2 class="text-center vinotinto mb-4">Quiénes Somos</h2>
        <div class="row">
            <div class="col-md-6">
                <img src="../images/historia.jpg" class="img-fluid rounded mb-4" alt="Historia del Colegio de Abogados">
            </div>
            <div class="col-md-6">
                <p>El Ilustre Colegio de Abogados del Estado Bolívar es una institución centenaria que ha sido el pilar fundamental para el desarrollo de la abogacía en la región desde su fundación el 12 de septiembre de 1894.
                    <br>Gracias a la visión y el compromiso de un grupo de destacados juristas, el Colegio nació con la firme misión de promover la excelencia en el ejercicio de la profesión legal y servir como baluarte de la justicia y el estado de derecho en beneficio de la sociedad bolivarense.
                    <br>Durante más de 125 años, el Colegio ha sido testigo y protagonista de la evolución del derecho en Venezuela. 
                    <br>Sus miembros, animados por una profunda mística profesional y un inquebrantable espíritu de servicio, han dejado una huella imborrable en la historia jurídica del país. Desde las aulas universitarias hasta los estrados judiciales, pasando por la docencia, la investigación y la función pública, los abogados colegiados han sido artífices del progreso y la consolidación del sistema legal venezolano.
                    </p>
            </div>  
        </div>
        Hoy en día, el Ilustre Colegio de Abogados del Estado Bolívar continúa fiel a sus orígenes, adaptándose a los desafíos del mundo moderno mientras preserva los valores éticos y la excelencia que han caracterizado a la abogacía bolivarense a lo largo de más de un siglo. 
        Con una membresía diversa y comprometida, el Colegio se erige como un referente ineludible en la defensa de los derechos y las libertades, la promoción de la justicia y la construcción de una sociedad más justa y equitativa.
        <br><br>

        <h3 class="vinotinto">Historia del Colegio de Abogados del Estado Bolívar</h3>
        <br>
        <div class="row">
            <div class="col-md-6">
                <p>El Colegio de Abogados del Estado Bolívar se constituyó el 12 de septiembre de 1894, bajo la presidencia del doctor Brígido Natera Guerra, apenas dos meses y doce días después de la sanción de la Ley de Abogados y Procuradores.
                    Según el cronista Americo Fernandez, en esta fecha, se reunieron en el salón de actos académicos del Colegio Federal de Primera Categoría (Casa del Congreso de Angostura) los doctores Brígido Natera, Heracleo Ortiz, Wenceslao Monserrate Hermoso, Luis Antonio Natera Ricci y Antonio García Romero, quienes, de acuerdo con los artículos 25 y 28 de dicha ley, procedieron a constituirse en Colegio y nombraron la primera directiva.</p>
        <h5 class="vinotinto">PRIMERA DIRECTIVA</h5>
            <p>Dado que solo eran cinco los iniciadores del Colegio, los cargos directivos, que también eran cinco, recayeron en todos los asistentes de la siguiente manera:</p>
            <lu>
                <li><span class="bold">Presidente:</span> Dr. Brígido Natera</li>
                <li><span class="bold">Primer Vicepresidente:</span> Dr. Herácleo Ortiz</li>
                <li><span class="bold">Segundo Vicepresidente:</span> Dr. Wenceslao Monserrate Hermoso</li>
                <li><span class="bold">Tesorero:</span> Dr. Luis Antonio Natera Ricci</li>
                <li><span class="bold">Secretario:</span> Antonio García</li>            
            </lu>
            <p>Este primer período directivo fue bienal, comprendiendo los años 1894-1896.</p>
            <h5 class="vinotinto">Primeras Tareas del Colegio</h5>
            <p>
                Una de las primeras tareas del Colegio de Abogados fue invitar a los profesionales del derecho a cumplir con el requisito de inscribirse en la institución y estudiar, a través de una comisión, el Código Orgánico de los Tribunales y todas aquellas leyes que ameritaban revisión.
                La Directiva se reunía cada jueves de la semana, y los días 15 y último habría asamblea. También era atribución del Colegio otorgar títulos de procurador, siendo los primeros en solicitarlos durante ese período Hilarión Gambús, quien tenía 30 años como agente judicial, Carlos Henrique Acosta y Brígido Natera Guerra, primer Presidente del Colegio.
            </p>
            
            </div>
            <div class="col-md-6">
                <img src="../images/law.jpg" class="img-fluid rounded mb-4" alt="Fundadores del Colegio">
            </div>
        </div>
        <h5 class="vinotinto">Fundador y Presidente</h5>
            <p>
                El doctor Brígido Natera Guerra, Presidente fundador del Colegio de Abogados del Estado Bolívar, era nativo de Cumaná y se hallaba radicado en Ciudad Bolívar desde 1856.<br> Llegó a la ciudad en tiempos de los Monagas, siendo jurisconsulto graduado a los 25 años.
                La creación de los Colegios de Abogados se establece en la Ley de Abogados y Procuradores del 30 de junio de 1894, con ejecútese de Joaquín Crespo, en cuyo artículo 25 se señala:
                <br>"Se pueden establecer Colegios de Abogados en el Distrito Federal y en todos los Estados donde haya por lo menos cinco abogados dispuestos formarlo.", siendo jurisconsulto graduado a los 25 años.
            </p>
            <div class="row mt-4">
                <div class="col-md-4">
                    <h4 class="vinotinto">Misión</h4>
                    <p>Somos un colegio conformado por personas dedicadas al ejercicio de la abogacía en sus diferentes disciplinas y vertientes: en el litigio, en la academia, en la docencia, en la investigación, en el servicio público, con el objeto de coadyuvar en la actualización jurídica continua y en la vigilancia del ejercicio ético de la profesión.</p>
                </div>
                <div class="col-md-4">
                    <h4 class="vinotinto">Visión</h4>
                    <p>Lograr la unidad de propósitos que eleven el nivel de desempeño de sus integrantes en beneficio de la sociedad y pugnar porque impere la justicia, el respeto al estado de derecho y por el apego estricto a la constitución.</p>
                </div>
                <div class="col-md-4">
                    <h4 class="vinotinto der-marg">Valores</h4>
                    <ul>
                        <li>Honestidad</li>
                        <li>Probidad</li>
                        <li>Ética</li>
                        <li>Honradez</li>
                        <li>Responsabilidad</li>
                        <li>Solidaridad</li>
                        <li>Respeto</li>
                        <li>Honor</li>
                        <li>Discreción</li>
                        <li>Justicia</li>
                        <li>Tolerancia</li>
                    </ul>
                </div>
            </div>
        </div>

    <!-- Pie de página -->
    <footer class="footer mt-5 bg-dark text-white">
        <div class="container">
            <h4>Contactos:</h4>
            <p>Teléfonos: +58 04143858042, +58 4148943157</p>
            <p>Email: colegioabogadosbolivar@hotmail.com </p>
            <p>Dirección: Avenida San Juan Bosco Edificio 05-04, piso 3, Oficina 3-B , Ciudad Bolívar, Venezuela</p>
            <p><a href="#" class="text-white">Términos y Condiciones</a> | <a href="#" class="text-white">Política de Privacidad</a></p>
        </div>
    </footer>

    <!-- Bootstrap JS y dependencias -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
