<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escuela de Abogados</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../css/styling.css" rel="stylesheet"/>
</head>
<body>

    <!-- Barra de navegación -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <div class="navbar-brand-wrapper">
                <a class="navbar-brand" href="#">
                    <img src="../images/Logo.png" alt="Logo" style="width: 125px; height: 125px;"> <!-- Ajusta el ancho y alto del logo -->
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="../index.html">Inicio </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="./about.html">Quienes Somos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./inscripcion.html">Inscripción</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="./juntaDirectiva.html">Junta Directiva</a>
                    </li>
                    <li class="nav-item " >
                        <a class="nav-link" href="./coordinacion.html">Coordinación Académica</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="./comisiones.html">Comisiones <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Contenido: Quienes Somos -->
    <div class="container mt-4">

        <p>El ilustres Colegio de Abogados del estado Bolivar cuenta con 3 comisiones: </p>
        <h2>COMISIÓN DE DERECHOS HUMANOS</h2>
        <p>La Comisión de Derechos Humanos es un organismo fundamental en nuestra institución, dedicado a la defensa y promoción de los derechos humanos en el estado. Este departamento se encarga de velar por el cumplimiento de los principios de igualdad, justicia y dignidad para todos los miembros de nuestro gremio en el estado Bolivar. A través de asistencia juridica, cursos, talleres y actividades de formación, la Comisión de Derechos Humanos busca crear conciencia sobre la importancia del respeto a los derechos fundamentales y fomentar una cultura de tolerancia y no discriminación.</p>
        <h5>Presidente de la comisión</h5>
        <li> Javier Gonzalez </li><br>
        <h6>Secretario de la Comision</h6>
        <li>Edwin Rivero</li><br>
        <h6>Asuntos internacionales</h6>
        <li>Ali Haffez </li><br>
        <h6>Coordinadora del Equipo Nro. 1 Zona Sur</h6>
        <li>Abg. Lisbeth Perez M</li><br>


        <h6>Jefes de Equipos:</h6>
            <li>David Fajardo</li>
            <li>Jesus Caraballo</li>
            <li>Edwin Rivero</li>
            <li>Anibal Duno</li>
            <li>Andres Arias</li>
            <li>Sonia Flores</li>

        <br /><br />
        <h2>COMISIÓN DE DEPORTE</h2>
        <p>La Comisión de Deporte desempeña un papel importantisimo en el desarrollo integral de nuestros agremiados. Esta comision promueve la práctica deportiva como una herramienta para fomentar valores como el trabajo en equipo, la disciplina y el liderazgo. Además de organizar competencias y torneos n acionales e internacionesen distinta disciplinas como futbol, domino, natación, coleo, etc. la Comisión de Deporte también ofrece programas de entrenamiento y asesoramiento deportivo para ayudar a nuestros abogados atletas a alcanzar su máximo potencial. Al mismo tiempo, se encarga de garantizar que las instalaciones deportivas de nuestra institución estén en óptimas condiciones y sean accesibles para todos los abogados y sus familiares.</p>
        <h5>Coordinador de Deporte</h5>
        <li>Jhony Abate</li><br>
        <h6>Director de Asuntos Gremiales</h6>
        <li>Alexander Velásquez</li><br>
        <h6>Delegados Deportivos</h6>
        <li>Alexander Velásquez</li>
        <li>Franklin Rojas</li>
        <li>Simón Hernández</li>
        <li>José Guzmán</li>
        <li>Omar Rodríguez</li>
        <li>Bladimir Vivenes</li>



        <br /><br />
        <h2>COMISIÓN DE CULTURA</h2>
        <p>La Comisión de Cultura es el departamento encargado de preservar y difundir la riqueza cultural de nuestra región. A través de exposiciones, festivales, talleres y presentaciones artísticas, este departamento busca promover el aprecio por las artes y la diversidad cultural. Además, la Comisión de Cultura organiza intercambios culturales con otros colegios de abogagos e inttituciones culturales de otros estado fomentando el diálogo intercultural y la comprensión mutua. Este departamento también se encarga de gestionar la biblioteca y los recursos culturales de nuestra institución, asegurando que estén disponibles para el disfrute y enriquecimiento de toda la comunidad abogacil.</p>
    </div>
     

    <!-- Pie de página -->
    <footer class="footer">
        <div class="container">
            <h4>Contactos:</h4>
            <p>Teléfonos: +58 04143858042, +58 4148943157</p>
            <p>Email: colegioabogadosbolivar@hotmail.com </p>
            <p>Dirección: Avenida San Juan Bosco Edificio 05-04, piso 3, Oficina 3-B , Ciudad Bolívar, Venezuela</p>
            <p><a href="#">Términos y Condiciones</a> | <a href="#">Política de Privacidad</a></p>
        </div>
    </footer>

    <!-- Bootstrap JS y dependencias -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>