<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escuela de Abogados</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../css/styling.css" rel="stylesheet"/>
</head>
<body>

    <!-- Barra de navegación -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <div class="navbar-brand-wrapper">
                <a class="navbar-brand" href="#">
                    <img src="../images/Logo.png" alt="Logo" style="width: 125px; height: 125px;"> <!-- Ajusta el ancho y alto del logo -->
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="../index.html">Inicio </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="./about.html">Quienes Somos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./inscripcion.html">Inscripción</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="./juntaDirectiva.html">Junta Directiva</a>
                    </li>
                    <li class="nav-item active" >
                        <a class="nav-link" href="./coordinacion.html">Coordinación Académica<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./comisiones.html">Comisiones</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Contenido: Quienes Somos -->
    <div class="container mt-4">
        <h2>Coordinación Académica </h2>
        <p>El Departamento de Coordinación Académica, conformado por un Coordinador y un Subcoordinador, es el pilar fundamental que impulsa la excelencia educativa en nuestra institución. Este equipo altamente capacitado se dedica a promover la formación académica integral a través del diseño curricular, la planificación de actividades formativas, la evaluación continua, la orientación académica, la colaboración interintitucional y el desarrollo profesional docente, garantizando que cada abogado se mantenga actualizadoy que potencie sus habilidades académicas y su crecimiento personal y profesional.</p>
        <h2>Coordinador Académico </h2>
        <hr>
        <h4><a href="https://sosamartinez.com/miembros/" style="color: black;"> Ramón Darío Sosa Caraballo</a></h4>

        <svg width="500" height="300" viewBox="0 0 600 600">
            <defs>
                <clipPath id="recorte">
                    <rect x="0" y="0" width="1500" height="700" />
                </clipPath>
            </defs>
            <image href="../images/RAMON SOSA.jpeg" width="872" height="1024" clip-path="url(#recorte)" />
        </svg>
        
        <br>
        <br>
        <h6>INFORMACIÓN PERSONAL</h6>
        <ul>
            <li>NOMBRE: Ramón Darío Sosa Caraballo</li>
            <li>FECHA DE NACIMIENTO: 10 de septiembre de 1973.</li>
            <li>LUGAR DE NACIMIENTO: Tumeremo, estado Bolívar, Venezuela.</li>
            <li>ASOCIACIÓN: Sosa & Martínez Estudio Jurídico</li>
            <li>ESTADO CIVIL: Casado</li>
        </ul>

        <h6>PREGRADO:</h6>
        <ul>
            <li>Abogado, egresado de la Universidad Católica Andrés Bello, Caracas, (1995)</li>
        </ul>

        <h6>POSTGRADO:</h6>
        <ul>
            <li>Cursó estudios de postgrado en derecho procesal de la Universidad Católica Andrés Bello, Caracas (1997). </li>
        </ul>

        <h6>DOCTORADO:</h6>
        <ul>
            <li>Cursó estudios de Doctorado en Derecho de la Universidad Católica Andrés Bello, Caracas (2024).  </li>
        </ul>

        <h2>Sub-Coordinador Académico</h2>
        <hr>
        <h4>Josmel A. Baena Sandoval  </h4>
      
        <svg width="500" height="300" viewBox="0 0 600 600">
            <defs>
                <clipPath id="recorte">
                    <rect x="0" y="0" width="1500" height="700" />
                </clipPath>
            </defs>
            <image href="../images/Josmel.jpeg" width="720" height="1080" clip-path="url(#recorte)" />
        </svg>
        <br>
        <br>
        <h6>INFORMACIÓN PERSONAL</h6>
        <ul>
            <li>NOMBRE: Josmel A. Baena Sandoval  </li>
            <li>FECHA DE NACIMIENTO: 4 de octubre de 1998. </li>
            <li>LUGAR DE NACIMIENTO: Puerto Ordaz, estado Bolívar, Venezuela.</li>
            <li>ASOCIACIÓN: Sosa & Martínez Estudio Jurídico</li>
            <li>ESTADO CIVIL: Soltero</li>
        </ul>
        <h6>PREGRADO:</h6>
        <ul>
            <li>Abogado, egresado de la Universidad Católica Andrés Bello-Extensión Guayana, (2021). </li>
        </ul>
    </div>
     

    <!-- Pie de página -->
    <footer class="footer">
        <div class="container">
            <h4>Contactos:</h4>
            <p>Teléfonos: +58 04143858042, +58 4148943157</p>
            <p>Email: colegioabogadosbolivar@hotmail.com </p>
            <p>Dirección: Avenida San Juan Bosco Edificio 05-04, piso 3, Oficina 3-B , Ciudad Bolívar, Venezuela</p>
            <p><a href="#">Términos y Condiciones</a> | <a href="#">Política de Privacidad</a></p>
        </div>
    </footer>

    <!-- Bootstrap JS y dependencias -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>