<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escuela de Abogados</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../css/styling.css" rel="stylesheet"/>
</head>
<body>

    <!-- Barra de navegación -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <div class="navbar-brand-wrapper">
                <a class="navbar-brand" href="#">
                    <img src="../images/Logo.png" alt="Logo" style="width: 125px; height: 125px;"> <!-- Ajusta el ancho y alto del logo -->
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="../index.html">Inicio </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="./about.html">Quienes Somos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./inscripcion.html">Inscripción</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="./juntaDirectiva.html">Junta Directiva<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./coordinacion.html">Coordinación Académica</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./comisiones.html">Comisiones</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Contenido: Quienes Somos -->
    <div class="container mt-4">

        <h2>JUNTA DIRECTIVA</h2>
        <hr>
        <h4>FELIX ISTURIZ </h4>
        <p>Presidente</p>
        <h4>JOSE GREGORIO MEIGNEN</h4>
        <p>Tesorero</p>
        <h4>GUSTAVO CARO PORRA</h4>
        <p>Secretario</p>
    </div>
     

    <!-- Pie de página -->
    <footer class="footer">
        <div class="container">
            <h4>Contactos:</h4>
            <p>Teléfonos: +58 04143858042, +58 4148943157</p>
            <p>Email: colegioabogadosbolivar@hotmail.com </p>
            <p>Dirección: Avenida San Juan Bosco Edificio 05-04, piso 3, Oficina 3-B , Ciudad Bolívar, Venezuela</p>
            <p><a href="#">Términos y Condiciones</a> | <a href="#">Política de Privacidad</a></p>
        </div>
    </footer>

    <!-- Bootstrap JS y dependencias -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>